@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

/* Reset some default styles */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

:root {
  --Blue-600: #4492e0;
  --Blue-600-WCAG: #3479be;
  --Blue-600-light: #cddff0;

  --Orange-600: #e26d35;
  --Orange-600-WCAG: #c15623;
  --Orange-600-light: #f3d1c1;

  --Pear: #eaf3b2;
  --Beige: #f2ebe3;

  --Neutral-1000: #000000;
  --Neutral-900: #1f1f1f;
  --Neutral-800: #4d4d4d;
  --Neutral-700: #757575;
  --Neutral-600: #999999;
  --Neutral-500: #c2c2c2;
  --Neutral-400: #d4d4d4;
  --Neutral-300: #e0e0e0;
  --Neutral-200: #ededed;
  --Neutral-100: #ffffff;
}

/* Basic styling */

h1 {
  font-family: "Chewy";
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

header {
  color: #ffffff;
  flex-direction: column;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  font-size: 14px;
  color: var(--Neutral-900);
}

nav ul button {
  background-color: var(--Blue-600);
  border-style: none;
  padding-inline: 12px;
  padding-block: 8px;
  color: var(--Neutral-100);
  border-radius: 8px;
  font-weight: 500;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto;
  padding-inline: 100px;
  align-items: center;
}

/* footer */

footer {
  background-color: var(--Orange-600-light);
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto;
  padding-inline: 100px;
  align-items: top;
}
