@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* Reset some default styles and other stuff*/
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;

  --Blue-600: #4492e0;
  --Blue-600-WCAG: #3479be;
  --Blue-600-light: #cddff0;

  --Orange-600: #e26d35;
  --Orange-600-WCAG: #c15623;
  --Orange-600-light: #f3d1c1;

  --Pear: #eaf3b2;
  --Beige: #f2ebe3;

  --Neutral-1000: #000000;
  --Neutral-900: #1f1f1f;
  --Neutral-800: #4d4d4d;
  --Neutral-700: #757575;
  --Neutral-600: #999999;
  --Neutral-500: #c2c2c2;
  --Neutral-400: #d4d4d4;
  --Neutral-300: #e0e0e0;
  --Neutral-200: #ededed;
  --Neutral-100: #ffffff;
}

/* Basic styling */
h1 {
  font-size: 56px;
}
h2 {
  font-size: 44px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}

h1,
h2,
h3 {
  font-family: "Chewy";
}

p,
h4,
h5,
h6,
li,
button,
span {
  font-family: "Quicksand", sans-serif;
}

p {
  line-height: 1.5;
}

body {
  background-color: #ffffff;
  color: #000000;
}

/* header styling */

header {
  color: #ffffff;
  flex-direction: column;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  font-size: 14px;
  color: var(--Neutral-900);
  cursor: pointer;
}

nav ul button {
  background-color: var(--Blue-600);
  border-style: none;
  padding-inline: 12px;
  padding-block: 8px;
  color: var(--Neutral-100);
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto;
  padding-inline: 100px;
  align-items: center;
}

nav img {
  cursor: pointer;
}

ul {
  list-style-type: none;
}
/* footer */

footer {
  background-color: var(--Orange-600-light);
  text-align: center;
  width: 100%;
  font-size: 20px;
  margin-top: 40px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto;
  padding-inline: 100px;
}
.footer-container p {
  line-height: 1.5;
}

.footer-info {
  text-align: left;
}

.footer-contact {
  text-align: right;
}
.footer-contact-info a img {
  width: 40px;
  height: 40px;
  padding-left: 12px;
  padding-top: 20px;
}

.footer-heading {
  font-weight: bold;
  padding-bottom: 16px;
}

.footer-container {
  padding-block: 28px;
}

/* dog card stylingf*/

.card {
  background-color: var(--Beige);
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  height: 257px;
  object-position: center;
}

.card-content {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-content i {
  font-size: 40px;
}

.gender-icon {
  font-size: 20px;
  margin-top: 10px;
}

.card-content-text h3 {
  margin-top: 0px;
  margin-bottom: 15px;
}

.card-content-text p {
  font-weight: 600;
}

.dog-card-container,
.tips-og-tricks-contianer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1220px;
  margin: 0 auto;
  padding-inline: 100px;
  padding-block: 20px;
  justify-content: center;
  gap: 30px;
}

.adopteret {
  color: var(--Orange-600);
}

.title-section {
  display: flex;
  max-width: 1220px;
  margin: 0 auto;
  padding-inline: 100px;
  justify-content: space-between;
  padding-top: 40px;
}

.filter-button,
.book-button {
  background-color: var(--Blue-600);
  color: var(--Neutral-100);
  border-style: none;
  border-radius: 8px;
  padding-inline: 45px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.dog-hero {
  max-width: 1220px;
  display: flex;
  gap: 8px;
  max-height: 500px;
  margin: 0 auto;
  padding-inline: 100px;
  margin-block: 20px;
}

.dog-hero-left-imgaes {
  flex: 2;
  display: flex;
}

.dog-hero-right-imgaes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.dog-hero-left-imgaes img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}

.dog-hero-right-imgaes img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: top;
}

.dog-hero-right-imgaes img:nth-last-of-type(2) {
  border-radius: 0px 10px 0px 0px;
}

.dog-hero-right-imgaes img:nth-last-of-type(1) {
  border-radius: 0px 0px 10px 0px;
}

.dog-metadata ul {
  padding: 0;
}
.dog-metadata li {
  padding-block: 8px;
}

.dog-description p {
  padding-block: 8px;
}
.dog-description {
  padding-block: 8px;
}

/* lucky side styling */

.lucky-content-container {
  display: flex;
  max-width: 1220px;
  padding-inline: 100px;
  margin: 0 auto;
  gap: 150px;
}

.dog-info {
  flex: 2;
}
.dog-info {
  font-weight: 500;
}

.booking-calender {
  flex: 1;
}

hr {
  opacity: 50%;
}

.meta-tags {
  display: flex;
  gap: 15px;
}

.meta-tags span {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--Neutral-400);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.sporgsmal-accordion-button {
  border: 2px solid var(--Neutral-700);
  padding: 12px 20px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 15px;
  width: 100%;
}

.sporgsmal-accordion-content {
  display: none;
  border: 1px solid --Neutral-600;
}

.sporgsmal-accordion-content form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sporgsmal-accordion-content form input {
  padding: 8px;
  border-width: 1px;
  border-radius: 8px;
  border-color: var(--Neutral-700);
  border-style: solid;
}
.sporgsmal-accordion-content form input:nth-of-type(4) {
  padding: 32px 8px;
}

.sporgsmal-accordion-content form button {
  padding: 8px;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--Neutral-300);
  border-style: solid;
  font-weight: 700;
}

.stil-sporgsmal-accordion {
  width: 50%;
}

/* booking kalender */
.calendar-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  flex: 1;
  max-height: 450px;
}

.calendar-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Months {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;
  color: #757575;
}

.days-of-week div {
  padding: 5px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  padding: 10px;
  background-color: #ffffff;
  cursor: pointer;
}

.calender-booker {
  margin-top: 20px;
  background-color: var(--Blue-600);
  color: var(--Neutral-100);
  padding: 10px 20px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 24px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

/* styling tips og tricks */

.tips-card {
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}
.tips-card:hover {
  background-color: var(--Neutral-200);
  border-radius: 8px;
}
.tips-card img {
  border-radius: 8px;
  height: auto;
  aspect-ratio: 5/4;
  object-position: 20%;
}
.tips-card h4 {
  margin-block: 4px 5px;
}

.tips-tags {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: var(--Neutral-800);
}

.se-flere {
  font-weight: 600;
  cursor: pointer;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  max-width: 1220px;
  padding-inline: 100px;
  margin: 0 auto;
}

.lignende-hunde {
  max-width: 1220px;
  margin: 0 auto;
  padding-inline: 100px;
}
.lignende-hunde h4 {
  margin-bottom: 0px;
}

/* specifik træning styling */

.traener-title {
  display: flex;
  flex-direction: column;
}

.traener-title h4 {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  color: var(--Neutral-800);
}

.traening-content-container {
  max-width: 1220px;
  padding-inline: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  padding-block: 64px;
}

.traening-info-indhold p {
  padding-block: 8px;
  font-weight: 500;
}

.traening-info {
  flex-grow: 1;
}

.lydighedstraening-image {
  flex-grow: 1;
  width: 100%;
}

.traening-tag span {
  max-width: 150px;
}
/* Index siden */
.hero-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 632px;
  background-image: url(../images/tips-and-tricks/index-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  margin: auto;
  max-width: 1220px;
  margin-top: 24px;
}

.hero-content {
  padding-inline: 56px;
}

.index-hero-button {
  color: white;
  background-color: #000000;
  border-radius: 8px;
  padding-inline: 37px;
  width: 254px;
  height: 52px;
  border-style: none;
  font-weight: bold;
  font-size: 20px;
}

.hero-text {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  margin-bottom: 30px;
}
.local-nav-container {
  margin: auto;
  max-width: 1220px;
  .btn-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: unset;
    gap: 8px;
    margin-block: 20px;
  }
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Beige);
    text-align: center;
    text-decoration: none;
    color: #1f1f1f;
    border-radius: 12px;
    height: 109.06px;
    width: 180px;
    gap: 12px;
    font-family: "Quicksand", sans-serif;
  }
  img {
    height: 42.06px;
  }
}

.index-nyheder {
  background-color: var(--Orange-600-light);
  padding-block: 16px;
  margin-block: 32px;
}

.index-h3 h3 {
  margin-block: 24px 0px;
}

.index-title-section {
  padding-block: 0px;
}

/* forside booking formular container */

.booking-container {
  margin: 0 auto;
  max-width: 1220px;
  display: flex;
  background: #e26c35c9;
  border-radius: 24px;
  gap: 40px;
}
.booking-text {
  width: 50%;
  padding: 20px 00px 20px 20px;
}
.booking-img {
  img {
    width: 100%;
    padding-top: 8px;
    border-radius: 24px;
  }
}

.form-booking-container {
  background-color: #fff;
  width: 50%;
  margin: 20px 20px 20px 00px;
  border-radius: 8px;
  padding: 16px;

  form {
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    lable,
    input {
      padding: 15px;
      margin: 14px 0;
      font-size: 16px;
      border-radius: 10px;
      border-style: none;
      background: #e5e5e5;
      color: #1f1f1f63;
    }

    input[type="date" i] {
      font-family: "Quicksand", sans-serif;
    }
  }
}

.booking-font {
  font-family: "Quicksand", sans-serif;
  margin-block: 16px;
}

/* Tredje parts popup vindue kode */
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 80px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  border-radius: 10px;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: var(--Blue-600-WCAG);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: var(--Neutral-700);
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
